.comic-detailed-card {
    background-color: #bdbdba;
    margin: 5vh 5vw;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
}

.comic-details-title {

}

.comic-details-extended {

}

.comic-details-image {

}