.comic-detailed-card {
    background-color: #bdbdba;
    margin: 8vh 5vw 0vh 5vw;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;

    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 0.5% 2%;
}

.comic-details-title {
    color: #e14a4a;
    font-size: 2em;
    font-weight: bold;
    background-color: #61dafb;
    width: 80%;
    margin: 1%;
    border-radius: 10px;
    padding-left: 1%;
}

.comic-details-extended {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 1%;
    margin-bottom: 1%;
}

.comic-details-image {
    border-radius: 10px;
    width: 23.3vw;
}

.comic-details-description {
    display: grid;
    grid-template-rows: repeat(1, auto);
    width: 90%;
    grid-gap: 2%;

}

.comic-details-summary {
    background-color: #cfcf8b;
    height: 30vh;
    border-radius: 10px;
}

.comic-details-characters {
    background-color: #acda82;
    display: grid;
    grid-template-rows: repeat(1, auto);
    width: 100%;
    height: 40vh;
    vertical-align: middle;
    justify-items: center;
    overflow-y: auto;
    border-radius: 10px;

}

.comic-details-character {
    background-color: #f8f8ec;
    width: 95%;
    height: 100px;
    border-radius: 10px;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    vertical-align: middle;
    align-items: center;

}

.comic-details-character-image {
    width: 5vw;
    height: 10vh;
    border-radius: 10px;

    padding-left: 2vw;
}