
.favourites-dashboard {
    margin: 4% 1% 2%;
    display: grid;
    grid-gap: 5%;
}

.favourites-category {
    width: 98vw;
    height: 26vh;
    background-color: #a5e8d2;
    border-radius: 15px;
}

.favourites-category-title {
    margin: 1%;
    background-color: #b4cac2;
    width: 10vw;
    height: 3vh;
    text-align: center;
    display: grid;
    vertical-align: middle;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}

.favourites-category-item {
    display: grid;
    width: 98%;
    height: 19vh;
    margin-left: 1%;
    overflow-x: auto;
    grid-gap: 1%;
    grid-auto-flow: column; /* Forces items into a single row */
    grid-template-rows: 1fr; /* Ensures a single row */
    grid-auto-columns: auto; /* Adjusts column sizing automatically */
    justify-items: start; /* Aligns individual items to the start of their cells */
    justify-content: start; /* Aligns the grid content to the start of the container */
}


.favourites-item-display {
    display: grid;
    width: 7vw;
    height: 15vh;
    border-radius: 10px;
    background-color: #b4cac2;
    transition: transform 0.5s ease, background-color 0.3s ease;

}

.favourites-item-display :hover {
    cursor: pointer;
    background-color: #eaa297;
}

.favourites-item-display-image {
    width: 6.3vw;
    height: 11vh;
    position: relative;
    top: 5%;
    left: 5%;
    border-radius: 10px;
}

.favourites-item-display-name {
    background-color: #e6d066;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    display: grid;
    vertical-align: middle;
    justify-items: center;
    align-items: center;
}