.items-page {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.items-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 4% 1% 2%;
    /*gap: 0.25% 1.4%;*/

}

.items-display {
    display: grid;
    background-color: #b4cac2;
    border-radius: 10px;
    height: 100%;
    transition: transform 0.5s ease, background-color 0.3s ease;

}

.items-display:hover {
    cursor: pointer;
    background-color: #eaa297;
}

.items-display {
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.items-display-image {
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    border-radius: 10px;
}

.items-display-name {
    background-color: #e6d066;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    display: grid;
    vertical-align: middle;
    justify-items: center;
    align-items: center;

}

.items-load-more-button {
    z-index: 1;
    margin-left: 45%;
    margin-bottom: 2%;
    width: 10%;
    height: 5vh;
}