.PetProfile {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

.PetProfile:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    scale: 1.05;
}

.PetImage {
    width: 200px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.PetName {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px;
}

.PetCard {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 10px;
}

.PetData {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 100%;
}